.complete{
    margin-bottom: 276px;

    @media (min-width: 992px){
        margin-bottom: 135px;
    }
}

.thankPage-btn{
    position: relative;
    border: 1px solid $light; 
    border-radius: 8px;
    &:hover{
      background-color: $secondary !important;
      border: 1px solid $secondary !important;

      a{
        color: $light !important;
      }
    }
}
