// Hero 
.banner {
  padding: 48px;
  border: 1px solid $light;

  &-bg {
    background-image: url(https://raw.githubusercontent.com/hd1313169/hacademy/main/app/assets/images/bg_home.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    padding: 84px 0;
  }
}

@media (min-width: 768px) {
  .banner-bg {
    background-image: url(https://raw.githubusercontent.com/hd1313169/hacademy/main/app/assets/images/bg_home.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    padding: 216px 0;
  }
}
// Hero END

// 服務介紹
.intro {
  // 服務介紹標題
  &-title {
    text-align: center;

    @media (min-width: 992px) {
      .intro-title {
        text-align-last: left;

        &:after {
          left: 0;
          transform: translate(0%, 0%);
        }
      }
    }

    &:after {
      display: inline-block;
      position: absolute;
      content: "";
      background-color: $secondary;
      width: 50px;
      height: 3px;
      left: 50%;
      bottom: -16px;
      transform: translate(-50%, -50%);
    }
  }

  // 服務介紹內容
  &-item {
    background: $primary-light;
    border: 1px solid $primary-light;
    text-align: center;
    color: $light;
    padding: 48px 0;

    &:hover {
      background-color: $primary;
      border: 1px solid $secondary;
      border-radius: 12px;

      h3 {
        color: white;
      }

      span {
        background: $secondary;
        background-clip: text;
        color: transparent;
      }
    }
  }
}

// 數字標籤
.step {
  &-item {
    border: 1px solid $light;
    border-radius: 12px;
    color: $light;
  }

  &-number {
    position: absolute;
    left: 48px;
    top: -32px;
    width: 78px;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    color: $secondary;
    background-color: $primary;
    font-family: "Azeret Mono";
  }
}

// 數字標籤END

// 輪播標籤
.lessonTag {
  overflow: hidden;
  font-weight: bold;
  color: $light;

  a {
    display: block;
    color: $light;

    &:hover {
      background-color: $secondary;
      border: 1px solid $secondary !important;
      color: $light !important;
    }
  }
}

// 輪播標籤END


// 熱門課程
.hotLesson {

  // 卡片樣式
  .card {
    background: $primary;
    border: 2px solid $primary;
    border-radius: 24px;

    &:hover {
      border: 2px solid $secondary !important;
      background-color: $secondary !important;
      transform: translateY(-20px);
      a{
        color: $highlight !important;
      }
    }
  }

  // 按鈕
  &-btn {
    display: block;
    width: 172px;
    margin: 0 auto;
    background: $primary;
    border: 1px solid $light;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: $light;

    &:hover {
      background: $secondary;
      color: $light;
    }
  }
}

// 熱門課程END


// 課程特色
.lessonInfo {

  // 背景
  &-bg {
    background-size: cover;
    background-position: center center;
  }

  // 遮罩
  &-bg-mask {
    width: 100%;
    height: 100%;
    background-color: rgba(28, 28, 28, 0.9);
    padding: 40px 72px;
  }

  // 內容文字
  &-content {
    text-align: center;

    p {
      color: $light;
    }

    .material-icons {
      color: $highlight;
    }

    h3 {
      position: relative;

      &:after {
        display: inline-block;
        position: absolute;
        content: "";
        background-color: $light;
        width: 50px;
        height: 3px;
        background-color: $highlight;
        left: 50%;
        bottom: -16px;
        transform: translate(-50%, -50%);
      }
    }
  }
}

// RWD
@media (min-width: 992px) {
  .lessonInfo-bg {
    height: 672px;
  }

  .lessonInfo-bg-mask {
    padding: 216px 48px;

    &:hover {
      background-color: rgba(0, 0, 0, 0.5);

      span {
        color: $highlight;
      }

      p {
        color: $light;
      }

      h3 {
        position: relative;

        &:after {
          background-color: $highlight;
        }
      }
    }
  }

  .lessonInfo-content {
    text-align-last: left;

    h3 {
      position: relative;

      &:after {
        display: inline-block;
        position: absolute;
        content: "";
        background-color: $light;
        width: 50px;
        height: 3px;
        background-color: $light;
        left: 25px;
        bottom: -16px;
      }
    }

    .material-icons,
    p {
      color: $light;
    }
  }
}

// 課程資訊END


// 文章分享
// 行動版卡片間距
@media (min-width: 992px) {

  .hoverEffect {
    display: none;
    width: 32px;
    height: 32px;

    &-topLeft {
      border-top: 1px solid $secondary;
      border-left: 1px solid $secondary;
      border-top-left-radius: 10px;
    }

    &-topRight {
      border-top: 1px solid $secondary;
      border-right: 1px solid $secondary;
      border-top-right-radius: 10px;
    }

    &-bottomLeft {
      border-bottom: 1px solid $secondary;
      border-left: 1px solid $secondary;
      border-bottom-left-radius: 10px;
    }

    &-bottomRight {
      border-bottom: 1px solid $secondary;
      border-right: 1px solid $secondary;
      border-bottom-right-radius: 10px;
    }
  }

  .card {
    padding: 32px;

    &:hover {
      .hoverEffect {
        display: block;
      }
    }
  }
}

// 文章分享END

// 學生評價
.feedback {
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week6-202207/bg_share.jpg?raw=true);
  height: 733px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 40px 0;

  @media (min-width:992px) {
    padding: 80px 0;
  }
}

.swiper {
  width: 100%;
  height: 100%;

  @media (min-width:992px) {
    height: 429px;
  }

  &-img {
    position: relative;
    width: calc(100% - 5px);
    left: 5px;
    height: 213px;
    border-radius: 24px;
    margin-bottom: 40px;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      border: 1px solid #7C7E77;
      border-radius: 24px;
      left: -5px;
      top: 5px;
      z-index: -1;

      @media (min-width:992px) {
        left: -10px;
        top: 10px;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 24px;
    }

    @media (min-width:992px) {
      position: absolute;
      width: 60%;
      height: 90%;
      top: 0;
      left: 10px;
    }
  }

  .card {
    width: 45%;
    padding: 32px;
    border-radius: 24px 24px 24px 0;
    bottom: 0;
    right: 0;
    position: absolute;

    h3 {
      font-size: 18px;
    }

    &-img {
      border-radius: 50%;
      width: 100px;
      height: 100px;
      position: absolute;
      right: 32px;
      bottom: 100%;
      transform: translateY(50%);

      @media (max-width:991px) {
        width: 80px;
        height: 80px;
        right: 24px;
        top: -30px;
        bottom: auto;
        transform: none;
      }
    }

    @media (max-width:991px) {
      position: relative;
      width: 100%;
      padding: 24px;
      margin-bottom: 32px;
    }
  }
}

// 學生評價END


// 加入我們
.joinUs {
  padding: 40px;
  text-align: center;
  max-width: 996px;

  a {
    color: $light;
    padding: 8px 32px;

    &:hover {
      background-color: $secondary;
    }
  }
}

@media (min-width: 992px) {
  .joinUs {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align-last: left;
    padding: 48px;

    h3 {
      margin-bottom: 8px;
    }

    p {
      margin: 0;
    }

    .material-icons {
      margin-bottom: 0;
      margin-right: 60px;
    }

    .joinUs-content {
      margin-right: 96px;
    }
  }
}